.container {
    margin: 0 auto;
}
.container, .span12 {
	margin:0 auto;
    background-color:#ffffff;
    position: relative;
    /*height: 100%;*/
    /*width: 100%;*/
}
.button img {
    width: 100%;
    
	}
.button2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	padding:10px;
	text-decoration:none;
}
.button2 span{
	display:table-cell;
	background-color:#4c85f6;
	border-radius:10px;
	font-size:50px;
	vertical-align:middle;
	color:#FFF;
	width:455px;
	/*padding:.5em;*/
	height:100px;
	text-shadow:2px 2px 3px rgba(0,0,0,.6);
}
@media (min-width: 1200px) {
    .container, .span12 {
        height: 350px;
        width: 277px;
    }
	.button2 span{
	border-radius:5px;
	font-size:25px;
	width:257px;
	height:50px;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container, .span12 {
        width: 1199px;
        height: 1514px;
    }
	.button2 span{
	border-radius:20px;
	font-size:100px;
	width:910px;
	height:200px;
}
}

@media (max-width: 767px) {
    .container, .span12 {
        width: 767px;
        height: 969px;
	}
	.button2 span{
	border-radius:20px;
	font-size:100px;
	width:949px;
	height:200px;
}
}

@media (max-width: 480px) {
    .container, .span12 {
      height: 606px;
      width: 480px;
	}
	.button2 span{
	border-radius:10px;
	font-size:50px;
	width:460px;
	height:100px;
}
}

@media (max-width: 979px) {
    .container, .span12 {
        height: 1237px;
        width: 979px;
    }
	.button2 span{
	border-radius:20px;
	font-size:120px;
	width:959px;
	height:250px;
}
}

@media (min-width: 981px) {
    .container, .span12 {
        height: 1238px;
        width: 980px;
    }
    .container, .span12 {
        height: 600px;
        width: 475px;
    }
	.button2 span{
	border-radius:10px;
	font-size:50px;
	width:455px;
	/*padding:.5em;*/
	height:100px;
	}
}
